In [1]:
#1) How-to-count-distance-to-the-previous-zero
#For each value, count the difference of the distance from the previous zero (or the start of the Series, whichever is closer)
#and if there are no previous zeros,print the position
#Consider a DataFrame df where there is an integer column {'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}
#The values should therefore be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]. Make this a new column 'Y'.
#import pandas as pd
#df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

#Import Pandas and numpy Library
import pandas as pd
import numpy as np

#@df variable Data Frame
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
dfArray=np.array([7, 2, 0, 3, 4, 2, 5, 0, 3, 4])
zeroView = np.zeros_like(dfArray)

# Count distance to the previous zero
zeroCount = 0
for i in range(len(dfArray)):
    if dfArray[i] == 0:
        zeroCount = 0 
    else:
        zeroCount+=1
    dfArray[i] = zeroCount

#Add columun to the dataframe.
df['Y']=dfArray

#Output:
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

In [2]:
#2) Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.

#Import Pandas and numpy Library
import pandas as pd
import numpy as np

#Use date_range() to get all business Day of 2015 @businessDays store its values.
businessDate = pd.date_range('2015-01-01', '2015-12-31',freq='B')
#Random number based upon business date
randomNum = np.random.rand(len(businessDate))
#Series object form pandas
s = pd.Series(randomNum,index=businessDate)

# 10 results of series objects
print(s.head(10))
print("\n")
#Index of Series objects
print(s.index)

2015-01-01    0.916099
2015-01-02    0.770766
2015-01-05    0.969733
2015-01-06    0.032791
2015-01-07    0.764359
2015-01-08    0.656781
2015-01-09    0.171029
2015-01-12    0.391843
2015-01-13    0.394900
2015-01-14    0.526611
Freq: B, dtype: float64


DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-05', '2015-01-06',
               '2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14',
               ...
               '2015-12-18', '2015-12-21', '2015-12-22', '2015-12-23',
               '2015-12-24', '2015-12-25', '2015-12-28', '2015-12-29',
               '2015-12-30', '2015-12-31'],
              dtype='datetime64[ns]', length=261, freq='B')

In [3]:
#3) Find the sum of the values in s for every Wednesday

#Output
s[businessDate.weekday_name=='Wednesday'].sum()

23.57960740529622

In [4]:
#4) Average For each calendar month

# Output
s.resample('M',convention='end').mean()

2015-01-31    0.480829
2015-02-28    0.560226
2015-03-31    0.498619
2015-04-30    0.470682
2015-05-31    0.517996
2015-06-30    0.509505
2015-07-31    0.500675
2015-08-31    0.548959
2015-09-30    0.377180
2015-10-31    0.479359
2015-11-30    0.577155
2015-12-31    0.568602
Freq: M, dtype: float64

In [5]:
#5) For each group of four consecutive calendar months in s, find the date on which the highest value occurred.

print(s[s.groupby(pd.Grouper(freq='4M')).idxmax()])

# Validate your answer by printing series object
s

2015-01-05    0.969733
2015-04-02    0.992562
2015-07-02    0.989826
2015-10-12    0.985937
dtype: float64

2015-01-01    0.916099
2015-01-02    0.770766
2015-01-05    0.969733
2015-01-06    0.032791
2015-01-07    0.764359
2015-01-08    0.656781
2015-01-09    0.171029
2015-01-12    0.391843
2015-01-13    0.394900
2015-01-14    0.526611
2015-01-15    0.061948
2015-01-16    0.725354
2015-01-19    0.305724
2015-01-20    0.377483
2015-01-21    0.723601
2015-01-22    0.163211
2015-01-23    0.121571
2015-01-26    0.507076
2015-01-27    0.458845
2015-01-28    0.327132
2015-01-29    0.680821
2015-01-30    0.530558
2015-02-02    0.602223
2015-02-03    0.829049
2015-02-04    0.316158
2015-02-05    0.754981
2015-02-06    0.981113
2015-02-09    0.529374
2015-02-10    0.869720
2015-02-11    0.079012
                ...
2015-11-20    0.049184
2015-11-23    0.712084
2015-11-24    0.562050
2015-11-25    0.751162
2015-11-26    0.859749
2015-11-27    0.310930
2015-11-30    0.027147
2015-12-01    0.600099
2015-12-02    0.152227
2015-12-03    0.700689
2015-12-04    0.948773
2015-12-07    0.554771
2015-12-08    0.224700
2015-12-09    0.009785
2015-12-10    0.687351
2015-12-11    0.158716
2015-12-14    0.510768
2015-12-15    0.823130
2015-12-16    0.515431
2015-12-17    0.695980
2015-12-18    0.076622
2015-12-21    0.091041
2015-12-22    0.571641
2015-12-23    0.937893
2015-12-24    0.457687
2015-12-25    0.885067
2015-12-28    0.934703
2015-12-29    0.947388
2015-12-30    0.964062
2015-12-31    0.629314
Freq: B, Length: 261, dtype: float64